@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img src="~/images/ricelogo.png" />
            </a>
        </div>
        <div class="media-body">
            <h1>Rice Production Decision Support System</h1>
            <p>Put a brief overview of the system here...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>


</div>

<!--Growth Duration-->
<div class="row">
    <div class="col-md-12">
        <h3><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Growth Duration</h3>
        <img src="~/images/growthstages.png" style="width:100%; height:100%"/>
    </div>
</div>
<!--End: Growth Duration-->

<!--Planting Season-->
<h3><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Planting Season</h3>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <div class="form-group">
                <label for="year">Year</label>
                <select class="form-control" id="year">
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>Projected</option>
                </select>
            </div>
        </div>       
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <div class="form-group">
                <label for="growthstages">Growth Stages</label>
                <select class="form-control" id="growthstages">
                    <option>Nursery</option>
                    <option>Preparatory</option>
                    <option>Field</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-group">
                <label for="growthstages">Rice Variety</label>
                <select class="form-control" id="growthstages">
                    <option>PSB Rc2 (NAHALIN)</option>
                    <option>PSB Rc4 (MOLAWIN)</option>
                    <option>NSIC Rc302 (Tubigan 25)</option>
                    <option>NSIC Rc166H (Mestiso 10)</option>
                </select>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-8">
        <canvas id="plantingSeasonChart"></canvas>
    </div>
    <div class="col-md-4">
        <h4>Rice Profile</h4>
        <div class="well">
            <dl class="dl-horizontal">
                <dt>Variety</dt>
                <dd>R23D</dd>
                <dt>Min. Rainfall</dt>
                <dd>20.00</dd>
                <dt>Max. Rainfall</dt>
                <dd>50.00</dd>
                <dt>Min. Temperature</dt>
                <dd>190.00</dd>
                <dt>Max. Temperature</dt>
                <dd>200.00</dd>
                <dt>Soil Type</dt>
                <dd>Muddy</dd>
            </dl>
        </div>

        <h4>Best Growth Stages Months</h4>
        <div class="well">
            <dl class="dl-horizontal">
                <dt>Nursery</dt>
                <dd>Feb, March</dd>
                <dt>Preparation</dt>
                <dd>March, April</dd>
                <dt>Panicle Initiation</dt>
                <dd>April</dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <input type="checkbox" checked /> Show Temperature and Rainfall Data
</div>
<div class="row">

    <div class="col-md-6">
        <h4>Temperature</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Temperature</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan</td>
                    <td>2014</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>Feb</td>
                    <td>2014</td>
                    <td>43</td>
                </tr>
                <tr>
                    <td>Mar</td>
                    <td>2014</td>
                    <td>44</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h4>Rainfall</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Temperature</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan</td>
                    <td>2014</td>
                    <td>98</td>
                </tr>
                <tr>
                    <td>Feb</td>
                    <td>2014</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Mar</td>
                    <td>2014</td>
                    <td>87</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--End: Planting Season-->

<!--Crop Calendar -->
<h3><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Crop Calendar</h3>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-group">
                <label for="growthstages">Rice Variety</label>
                <select class="form-control" id="growthstages">
                    <option>PSB Rc2 (NAHALIN)</option>
                    <option>PSB Rc4 (MOLAWIN)</option>
                    <option>NSIC Rc302 (Tubigan 25)</option>
                    <option>NSIC Rc166H (Mestiso 10)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="startdate">Start Date</label>
            <input type="text" class="form-control" id="startdate" placeholder="Start Date">
        </div>
    </div>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Growth Stages</th>
                <th>Suggested Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nursery</td>
                <td>Jan 5, 2018</td>
            </tr>
            <tr>
                <td>Preparation</td>
                <td>March 2, 2018</td>
            </tr>
            <tr>
                <td>Panicle Preparation</td>
                <td>April 8, 2018</td>
            </tr>
        </tbody>
    </table>
</div>
<!--Crop Calendar-->

@section scripts {
    <script>
        $(document).ready(function () {
            var ctx = document.getElementById("plantingSeasonChart").getContext("2d");
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                    datasets: [{
                        label: "Historical Planting Season",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [0, 10, 5, 2, 20, 30, 45],
                    }]
                },

                // Configuration options go here
                options: {}
            });
        })
    </script>
}
